// elements.scss - тут немного стилей для лого, контейнера и прочее

* {
	box-sizing:border-box;
}

html {

}

body {
	font-family: 'Open Sans', sans-serif;
	min-width: 1024px;
	color: #051e36;

}


.mobile-body {
	//min-width: initial;
	min-width: 320px;
}

.mainwrap {
	width: $width;
	margin: auto;
}

/* STICKY FOOTER */

html, body {
	height: 100%;
}

.superwrap {
	min-height: 100%;
	background: rgba(234, 240, 247, 0.95);
}

.main {
	overflow:auto;
	padding-bottom: 233px;
}  /* must be same height as the footer */

.team__left {
	float: left;
	width: 660px;
	margin-right: 20px;
}


.team__right {
	float: left;
	width: 300px;
}

.footer {
	position: relative;
	margin-top: -233px; /* negative value of footer height */
	height: 233px;
	clear:both;
}

.b-header {
	position: relative;
	height: 33px;
	width: 100%;
	font-size: 12px;
	background: #ffffff;
	padding: 10px 15px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.05);
	z-index: 1;
}

.b-title {
	font-weight: 700;
	color: #646b95;
	text-transform: uppercase;
	float: left;
}

.b-main {
	border-radius: 0 0 5px 5px;
}

.b {
	position: relative;
	width: 100%;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.05);
	border-radius: 5px;
	margin-bottom: 20px;
}

h2 {
	color: #051e36;
	font-weight: 600;
	font-size: 30px;
	margin-top: 0;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}

/* STICKY FOOTER END */



.customSelect {
	/* This is the default class that is used */
	/* Put whatever custom styles you want here */
	position: relative;
	z-index: 0;
	width: 130px;
	border-radius: 5px;
	border: 1px solid #ececec;
	padding: 8px 10px;
	color: #073865;
	font-size: 13px;
	box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.05);
	background: #ffffff;

	&:after {
		content: '';
		position: absolute;
		background-image: url('../img/sprite.png');
		@include spriteX($select-triangle);
		right: 10px;
		top:50%;
		margin-top: -2px;

	}
}

.hasCustomSelect {
	position: relative;
	z-index: 1;
}

.customSelect.customSelectHover {
	/* Styles for when the select box is hovered */
}

.customSelect.customSelectOpen {
	/* Styles for when the select box is open */
	width: 130px;
}

.customSelect.customSelectFocus {
	/* Styles for when the select box is in focus */
}

.customSelect.customSelectDisabledOption {
	/* Styles for when the selected item is a disabled one */
}

.customSelect.customSelectDisabled {
	/* Styles for when the select box itself is disabled */
}

.customSelectInner {
	/* You can style the inner box too */
}