.bigtable
	.bigtable__header
		.bigtable__filter_name Сезон
		select.bigtable__select
			option 2015
			option 2014
			option 2013
		.bigtable__filter_name Дивизион
		select.bigtable__select
			option Дивизион А
			option Дивизион Б
			option Дивизион В
		.bigtable__filter_name Тип турнира
		select.bigtable__select
			option Регулярный
			option Нерегулярный
	.bigtable__main
		table.bigtable__table
			tr.bigtable__tr
				th.bigtable__th №
				th.bigtable__th Команда
				th.bigtable__th И
				th.bigtable__th В
				th.bigtable__th Н
				th.bigtable__th П
				th.bigtable__th Ш
				th.bigtable__th О
			tr.bigtable__tr
				td.bigtable__td 1
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 2
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 3
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 4
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 5
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 6
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26
			tr.bigtable__tr
				td.bigtable__td 7
				td.bigtable__td Орион
				td.bigtable__td 17
				td.bigtable__td 12
				td.bigtable__td 2
				td.bigtable__td 3
				td.bigtable__td 68-40
				td.bigtable__td 26