.curm.b
	.curm__header.b-header
		.curm__title.b-title Текущий матч
		.curm__date 12 марта 22:15
	.curm__main
		.curm__commands.clearfix
			.curm__com.curm__com1
				.curm__com_img
					img(src="img/i/curm-com1.jpg")
				.curm__com_name Тюлячи
			.curm__scores_wrapper
				.curm__scores
					.curm__prev_score 1 : 3
					.curm__cur_score 2 : 4
			.curm__com.curm__com2
				.curm__com_img
					img(src="img/i/curm-com2.jpg")
				.curm__com_name АБС
		.curm__left_time До конца второго тайма 0:35
		.curm__ice Лед: ДС