.footer
	.footer__top
		.mainwrap
			.footer__phrase.
				Воплотить мечту в реальность,  встретиться лицом к лицу с достойными соперниками,
				проявить мужество и мастерство, принять участие в профессионально организованных соревнованиях,
				бороться и побеждать - вот возможности, которые ПЛХЛ открывает перед жителями Республики Татарстан,
				а в скорой перспективе - перед всеми любителями хоккея с шайбой Поволжья!
			.footer__shares
				a(href="##").footer__shares_el
					i.icon-footer-ins
				a(href="##").footer__shares_el
					i.icon-footer-vk
				a(href="##").footer__shares_el
					i.icon-footer-fb

	.footer__bottom
		.mainwrap
			.footer__copyright 2015 © ПЛХЛ
			ul.footer__nav
				li.footer__nav_el
					a(href="##") Галерея
				li.footer__nav_el
					a(href="##") Контакты