.gal.b
	.gal__header.b-header
		.gal__title.b-title Галерея
		.gal__nav
			.gal__leftbut
				i.icon-b-arrowleft
			.gal__rightbut
				i.icon-b-arrowright
	.gal__main.clearfix
		.gal__list
			.gal__el.gal__el--big
				img(src="img/i/gal-bigphoto.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto1.jpg")
			.gal__el.gal__el--small.gal__el--video
				img(src="img/i/gal-smallphoto2.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto3.jpg")
			//.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto4.jpg")
			.gal__el.gal__el--big
				img(src="img/i/gal-bigphoto.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto1.jpg")
			.gal__el.gal__el--small.gal__el--video
				img(src="img/i/gal-smallphoto2.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto3.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto4.jpg")
			.gal__el.gal__el--big
				img(src="img/i/gal-bigphoto.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto4.jpg")
			.gal__el.gal__el--small
				img(src="img/i/gal-smallphoto3.jpg")
