header.header-m
	.header-m__logo
		img(src="img/svg/logo.svg")
	.header-m__title Главная
	.header-m__menubut
		img(src="img/svg/menu.svg")
	.header-m__menu
		.header-m__menu_list
			.header-m__menu_el Новости
			.header-m__menu_el Матчи
			.header-m__menu_el Турнирная таблица
			.header-m__menu_el Команды
			.header-m__menu_el Игроки
