header.header
	.header__top
		.mainwrap
			i.icon-header-logo.header__logo
			.header__top_phrase Лед возможностей
	.header__bottom
		.mainwrap
			ul.header__nav
				li.header__nav_el
					a(href="##") Новости
				li.header__nav_el
					a(href="##") Матчи
				li.header__nav_el
					a(href="##") Турнирная таблица
				li.header__nav_el
					a(href="##") Команды
				li.header__nav_el
					a(href="##") Игроки
				li.header__nav_el
					a(href="##") Документы