.lastnews
	.lastnews__photoblock
		.lastnews__photoinfo
			.lastnews__photodate 29 марта
			.lastnews__phototitle Штраф Андрею Захарову удалось опротестовать
		.lastnews__photo
			img(src="img/i/lastnews-photo.jpg")
	.lastnews__newslist.clearfix
		.lastnews__news
			.lastnews__newsdate 24 марта
			.lastnews__newstitle
				a(href="##") Гол Трубачева с шикарного паса Немеца
		.lastnews__news
			.lastnews__newsdate 8 марта
			.lastnews__newstitle
				a(href="##") Александр Мальцев: «Динамо» нужно матчей пять
		.lastnews__news
			.lastnews__newsdate 28 февраля
			.lastnews__newstitle
				a(href="##") Томление и предвкушение, часть 2 (видео)
		.lastnews__news
			.lastnews__newsdate 15 февраля
			.lastnews__newstitle
				a(href="##") Уэллман прописал «Спартак» в Лужниках

	.lastnews__footer
		.lastnews__allnews Все новости