.nearm.b
	.nearm__day.clearfix
		.nearm__left
			.nearm__date
				.nearm__day 23
				.nearm__month марта
		.nearm__right
			.nearm__match
				.nearm__time 20:00
				.nearm__teams Высокая гора - Пестрецы
				.nearm__ice Лед: Высокая гора
			.nearm__match
				.nearm__time 22:30
				.nearm__teams Дио пласт – Сезон охоты
				.nearm__ice Лед: ДС
	.nearm__day.clearfix
		.nearm__left
			.nearm__date
				.nearm__day 2
				.nearm__month декабря
		.nearm__right
			.nearm__match
				.nearm__time 21:45
				.nearm__teams Орион – Тюлячи
				.nearm__ice Лед: Форвард
	.nearm__day.clearfix
		.nearm__left
			.nearm__date
				.nearm__day 5
				.nearm__month декабря
		.nearm__right
			.nearm__match
				.nearm__time 21:45
				.nearm__teams Пестрецы – Орион
				.nearm__ice Лед: Форвард