.plyrs
	h2.plyrs__title Игроки
	.plyrs__all
		.plyrs__header
			.plyrs__nav_wrapper
				.plyrs__nav
					.plyrs__nav_el
						a(href="##") Все
					.plyrs__nav_el
						a(href="##") А
					.plyrs__nav_el
						a(href="##") Б
					.plyrs__nav_el
						a(href="##") В
					.plyrs__nav_el
						a(href="##") Г
					.plyrs__nav_el
						a(href="##") Д
					.plyrs__nav_el
						a(href="##") Е
					.plyrs__nav_el
						a(href="##") Ж
					.plyrs__nav_el
						a(href="##") З
					.plyrs__nav_el
						a(href="##") И
					.plyrs__nav_el
						a(href="##") К
					.plyrs__nav_el
						a(href="##") Л
					.plyrs__nav_el
						a(href="##") М
					.plyrs__nav_el
						a(href="##") Н
					.plyrs__nav_el
						a(href="##") О
					.plyrs__nav_el
						a(href="##") П
					.plyrs__nav_el
						a(href="##") Р
					.plyrs__nav_el
						a(href="##") С
					.plyrs__nav_el
						a(href="##") Т
					.plyrs__nav_el
						a(href="##") У
					.plyrs__nav_el
						a(href="##") Ф
					.plyrs__nav_el
						a(href="##") Х
					.plyrs__nav_el
						a(href="##") Ц
					.plyrs__nav_el
						a(href="##") Ч
					.plyrs__nav_el
						a(href="##") Ш
					.plyrs__nav_el
						a(href="##") Э
					.plyrs__nav_el
						a(href="##") Ю
					.plyrs__nav_el
						a(href="##") Я
		.plyrs__main_wrapper
			.plyrs__main.clearfix
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo1.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>1</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo2.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>2</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo1.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>7</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo2.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>15</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo1.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>99</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
				.plyrs__el
					.plyrs__el_left
						.plyrs__el_photo
							img(src="img/i/players-photo2.jpg")
					.plyrs__el_right
						.plyrs__el_name Яковлев <span class='plyrs__el_number'>3</span> Константин
						.plyrs__el_info
							.plyrs__el_infokey Команда:
							.plyrs__el_infoval Высокая гора
							.plyrs__el_infokey Позиция:
							.plyrs__el_infoval Вратарь
							.plyrs__el_infokey Дата рождения:
							.plyrs__el_infoval 25 апреля 1987
