.results.b
	.results__header.b-header
		.results__title.b-title Результаты
		.results__nav
			.results__leftbut
				i.icon-b-arrowleft
			.results__rightbut
				i.icon-b-arrowright
	.results__main
		.results__list
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team.results__team--winner Пестрецы
					.results__divider -
					.results__team Орион
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team Высокая гора
					.results__divider -
					.results__team.results__team--winner Тюлячи
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team.results__team--winner Пестрецы
					.results__divider -
					.results__team Орион
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team.results__team--winner Пестрецы
					.results__divider -
					.results__team Орион
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team Высокая гора
					.results__divider -
					.results__team.results__team--winner Тюлячи
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team.results__team--winner Пестрецы
					.results__divider -
					.results__team Орион
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2
			.results__el
				.results__date 5 декабря
				.results__teams
					.results__team.results__team--winner Пестрецы
					.results__divider -
					.results__team Орион
				.results__scores
					.results__score.results__score--final 2 : 4
					.results__score 1 : 3
					.results__score 0 : 2