.teams.b
	.teams__header.b-header
		.teams__title.b-title Команды
		.teams__header_buts
			.teams__leftbut
				i.icon-b-arrowleft
			.teams__rightbut
				i.icon-b-arrowright

	.teams__main.b-main
		.teams__images
			.teams__img
				img(src="img/i/teams-team1.jpg")
			.teams__img
				img(src="img/i/teams-team2.jpg")
			.teams__img
				img(src="img/i/teams-team3.jpg")