.teaminfo
	.teaminfo__left
		.teaminfo__photo
			img(src="img/i/teaminfo-photo.jpg")
	.teaminfo__right
		p Любительская хоккейная  команда «МиМаРи»  создана в 2008 году. Цель - объединить в себе активных, целеустремленных людей разных возрастов и профессий, любителей хоккея и здорового образа жизни. Основателями команды являются Мифтахов Марсель и Мифтахов Ренат, первые буквы фамилии и имен которых, значатся в названии команды.
		p «МиМаРи» - это сплав молодости и опыта. Средний возраст команды  -31 год. Наиболее возрастному игроку - 55 лет. Самому молодому – 19 лет.
		p В команде сложилась та среда, которая позволяет игрокам расти в своем мастерстве и не чувствовать себя хоккеистом «2го сорта». Мы придерживаемся пословицы «Мал золотник, да дорог», поэтому основной костяк команды, несмотря на взлеты и падения команды не меняется уже с 2009 года. Отличительные особенности команды: высокая организация игрового процесса и дисциплины. Задача: стремление к стабильно высоким результатам и постоянное совершенствование игры. Домашней площадкой команды с 2009 года является спортивный комплекс «Форвард».
