.teamplayers
	.teamplayers__tab.teamplayers__tab--active Состав команды
	.teamplayers__tab Статистика команды
	.teamplayers__main
		.teamplayers__content.teamplayers__content--active
			.teamplayers__filters
				span.teamplayers__season_title Сезон
				select.teamplayers__season
					option 2015
					option 2014
					option 2013
			.teamplayers__playerslist.clearfix
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 1
						span.teamplayers__player_position вратарь
					.teamplayers__player_photo
						img(src="img/i/players-photo1.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 10
						span.teamplayers__player_position нападающий
					.teamplayers__player_photo
						img(src="img/i/players-photo2.jpg")
					.teamplayers__player_name Сабиртранский Мохавак
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 12
						span.teamplayers__player_position нападающий
					.teamplayers__player_photo
						img(src="img/i/players-photo1.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 2
						span.teamplayers__player_position нападающий
					.teamplayers__player_photo
						img(src="img/i/players-photo2.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 8
						span.teamplayers__player_position защитник
					.teamplayers__player_photo
						img(src="img/i/players-photo1.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 7
						span.teamplayers__player_position защитник
					.teamplayers__player_photo
						img(src="img/i/players-photo2.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 99
						span.teamplayers__player_position защитник
					.teamplayers__player_photo
						img(src="img/i/players-photo1.jpg")
					.teamplayers__player_name Сабиров Наиль
				.teamplayers__player
					.teamplayers__player_header
						span.teamplayers__player_number 13
						span.teamplayers__player_position полузащитник
					.teamplayers__player_photo
						img(src="img/i/players-photo2.jpg")
					.teamplayers__player_name Сабиров Наиль
		.teamplayers__content
			.teamplayers__comingsoon Coming Soon