.ttable.b
	.ttable__header.b-header
		.ttable__title.b-title Турнирная таблица
	.ttable__main
		table.ttable__table
			tr.ttable__tr
				th.ttable__th Команда
				th.ttable__th 1
				th.ttable__th 2
				th.ttable__th 3
				th.ttable__th 4
				th.ttable__th 5
				th.ttable__th 6
				th.ttable__th 7
				th.ttable__th 8
				th.ttable__th 9
				th.ttable__th И
				th.ttable__th В
				th.ttable__th П
				th.ttable__th Н
				th.ttable__th Ш
				th.ttable__th О
				th.ttable__th М
			tr.ttable__tr
				td.ttable__td Солнечный город
				td.ttable__td
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td Крылья
				td.ttable__td 4:6
				td.ttable__td
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td АНО БДД
				td.ttable__td 12:0
				td.ttable__td 4:6
				td.ttable__td
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td Титан
				td.ttable__td 9:2
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td
				td.ttable__td 12:0
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td УКЦМ
				td.ttable__td 9:2
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td Опора
				td.ttable__td 1:1
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td СПК
				td.ttable__td 2:4
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td
				td.ttable__td 5:2
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td Союз технология
				td.ttable__td 5:2
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td
				td.ttable__td 4:2
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3
			tr.ttable__tr
				td.ttable__td Ак барс страхование-2
				td.ttable__td 4:2
				td.ttable__td 4:6
				td.ttable__td 12:0
				td.ttable__td 12:0
				td.ttable__td 9:2
				td.ttable__td 1:1
				td.ttable__td 2:4
				td.ttable__td 5:2
				td.ttable__td
				td.ttable__td 8
				td.ttable__td 5
				td.ttable__td 2
				td.ttable__td 1
				td.ttable__td 42<br>19
				td.ttable__td 11
				td.ttable__td 3

