doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title IKEA
		//<meta name="viewport" content="width=device-width">
		include ./include/favicon
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body
		i.icon-logo

		.error_page
			.error_page__main
				.error_page__code Ошибка 404
				.error_page__mes Кажется, такого настроения не существует.
				a(href="#")
					.error_page__return_but Вернуться к прогнозу