doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title PLHL
		//<meta name="viewport" content="width=device-width">
		include ./include/favicon
		link(rel='stylesheet', type='text/css', href='css/style.css')
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
		script(type='text/javascript', src='js/lib.js')
		//script(type='text/javascript', src='js/pre.js')
	body
		.superwrap
			include ./blocks/header

			.main
				.mainwrap.clearfix
					h2 Документы
					.docs
						.docs__el
							.docs__title Порядок определения наказаний
							.docs__info DOC, 9мб
						.docs__el
							.docs__title Регламент
							.docs__info DOC, 9мб
						.docs__el
							.docs__title Заявка команды
							.docs__info PDF, 559мб
						.docs__el
							.docs__title Анкета
							.docs__info DOC, 9мб



		include ./blocks/footer



		script(type='text/javascript', src='js/script.js')
