doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title PLHL
		//<meta name="viewport" content="width=device-width">
		include ./include/favicon
		link(rel='stylesheet', type='text/css', href='css/style.css')
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
		script(type='text/javascript', src='js/lib.js')
		//script(type='text/javascript', src='js/pre.js')
	body
		.superwrap
			include ./blocks/header

			.main
				.mainwrap.clearfix
					h2 Галерея
					.docs
						.docs__el
							.docs__title Чемпионат Татарстана 2015
							.docs__info.docs__info--upper 25 фото
						.docs__el
							.docs__title Игроки и тренеры
							.docs__info.docs__info--upper 25 фото
						.docs__el
							.docs__title Новогодний чемпионат
							.docs__info.docs__info--upper 400 фото
						.docs__el
							.docs__title Анкеты
							.docs__info.docs__info--upper 25 фото



		include ./blocks/footer



		script(type='text/javascript', src='js/script.js')
