doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		title PLHL
		//<meta name="viewport" content="width=device-width">
		include ./include/favicon
		link(rel='stylesheet', type='text/css', href='css/style.css')
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700&subset=latin,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
		script(type='text/javascript', src='js/lib.js')
		//script(type='text/javascript', src='js/pre.js')
	body
		.superwrap
			include ./blocks/header

			.main
				.mainwrap.clearfix
					.teamsb
						h2 Команды
						.teamsb__all
							.teamsb__header
								.teamsb__nav
									.teamsb__nav_el.teamsb__nav_el--active ВСЕ
									.teamsb__nav_el Дивизион А
									.teamsb__nav_el Дивизион В
									.teamsb__nav_el Дивизион С
									.teamsb__nav_el Дивизион D
							.teamsb__main_wrapper
								.teamsb__main.clearfix
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!
									.teamsb__el
										.teamsb__el_left
											.teamsb__el_photo
												img(src="img/i/teams-photo1.jpg")
										.teamsb__el_right
											.teamsb__el_name АЗС Казань
											.teamsb__el_info Целью создание команды было продвижение активного здорового образа жизни!



		include ./blocks/footer



		script(type='text/javascript', src='js/script.js')
